<div class="row bg-2 p-3 m-0">
    <div class="col-4 p-3">
        <div class="row img-container">
            <div class="">
                {{!-- <img src="./assets/images/husky-g317617543_640.jpg" alt=""> --}}
            </div>
        </div>
        {{#if loggedIn}}
        <div class="row">
            <h3 class="yellow-text md-text results-text">Update</h3>
            <div class="input-group mb-3">
                <label for="health" class="sm-text label">Health</label>
                <input type="text" class="form-control" id="health" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary button" type="button" id="button-addon2">
                    <ion-icon class="icon" name="arrow-round-forward"></ion-icon>
                </button>
            </div>
            <div class="input-group mb-3">
                <label for="traits" class="sm-text label">Traits</label>
                <input type="text" class="form-control input" id="traits" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary button" type="button" id="button-addon2">
                    <ion-icon class="icon" name="arrow-round-forward"></ion-icon>
                </button>
            </div>
        </div>
        {{/if}}
    </div>

    <div class="col-4 p-3">
        <div class="row ">
            <div class="row align-items-center ">
                <h1 class="yellow-text xl-text results-text">{{breed_name}}</h1>
            </div>
            <p class="xs-text breed-info">
                <b>Height: </b>{{height_min}} - {{height_max}} inches
                <br>
                <b>Weight: </b>{{weight_min}} - {{weight_max}} lbs
                <br>
                <b>Health Concerns: </b>{{health.health_name}} 
                <br> 
                {{health.description}}
                <br>
                <b>Personality Traits: </b>{{traits.traits_name}}
                <br>
                <b>Level: </b>{{level.level_name}}
            </p>
        </div>
        <div class="row yellow-text md-text results-text ">
            <a href="/search" class="text-reset text-decoration-none">Back to Search</a>
            <a href="/posts" class="text-reset text-decoration-none ">Go to all Posts</a>
        </div>
    </div>

    <div class="col-4 p-3">
        <div class="row">
            <h2 class="lg-text results-text">User Posts</h2>
        </div>
        <div class="row">
            <div id="scrolling-posts" class="col-8">
                <ol>
                    {{#each posts}}
                    <li>
                        {{> single-post}}
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>
        <div class="row">
            <h3 class="yellow-text md-text results-text">Post</h3>
            {{#if loggedIn}}
            <div class="input-group ">
                <label for="post-title" class="xs-text label">Title</label>
                <input type="text" class="form-control" id="post-title">
            </div>
            <label for="description" class="xs-text label results-text">Description</label>
            <div>
                <textarea class="form-control" id="description" cols="2" rows="3"></textarea>
            </div>
            <button class="btn btn-outline-secondary button" type="button" id="post-submit">
                <ion-icon class="icon" name="arrow-round-forward"></ion-icon>
            </button>
            {{else}}
            <div class="sm-text results-text">
                <p><a href="/login" class="text-decoration-none">Login</a> to make a post!</p>
            </div>
            {{/if}}
        </div>
    </div>
</div>
