<div class="row bg-2 p-3 m-0">
    <div class="row align-items-center ">
        <h1 class="yellow-text xl-text results-text">{{breed.breed_name}}</h1>
    </div>
    <div class="col-4 p-3">
        <div class="row img-container">
            <div class="dog-pic">
                <img src="/img/Catahoula-Do-54935585.jpg" alt="">
            </div>
        </div>
        {{#if loggedIn}}
        <div class="row">
            <h3 class="yellow-text md-text results-text">Update</h3>
            <div class="input-group mb-3">
                <label for="health" class="sm-text label">Health</label>
                <input type="text" class="form-control" id="health" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary button" type="button" id="button-addon2">
                    <ion-icon class="icon" name="arrow-round-forward"></ion-icon>
                </button>
            </div>
            <div class="input-group mb-3">
                <label for="traits" class="sm-text label">Traits</label>
                <input type="text" class="form-control input" id="traits" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary button" type="button" id="button-addon2">
                    <ion-icon class="icon" name="arrow-round-forward"></ion-icon>
                </button>
            </div>
        </div>
        {{/if}}
    </div>

    <div class="col-4 p-3">
        <div class="row ">
            <p class="xs-text breed-info">
                <b>Height: </b>{{breed.height_min}} - {{breed.height_max}} inches
                <br>
                <b>Weight: </b>{{breed.weight_min}} - {{breed.weight_max}} lbs
                <br>
                {{#each breed.health}}
                <b>Health Concerns: </b>{{health_name}} 
                <br> 
                {{description}}
                <br>
                {{/each}}
                {{#each breed.traits}}
                <b>Personality Traits: </b>{{traits_name}}
                <br>
                {{/each}}
                <b>Level: </b>{{breed.level.level_name}}
            </p>
        </div>
        <div class="row yellow-text md-text results-text ">
            <a href="/search" class="text-reset text-decoration-none">Back to Search</a>
            <a href="/posts" class="text-reset text-decoration-none">Go to all Posts</a>
        </div>
    </div>

    <div class="col-4 p-3">
        <div class="row">
            <h2 class="lg-text results-text border-bottom">User Posts</h2>
        </div>
        {{#if breed.posts}}
        <div class="row">
            <div id="scrolling-posts" class="col-8 my-3">
                <ol>
                    {{#each breed.posts}}
                    <li>
                    <article class="mx-5 my-3">
                        <div class="border-bottom px-5">
                            <span class="text-decoration-none"><a href="/post/{{id}}" class="text-decoration-none"><h3>{{title}}</h3></a></span>
                        </div>
                        <div class="text-body post-main m-3" name="post-body">
                            {{post_body}}
                        </div>
                        <div class="d-flex justify-content-end border-top p-1 px-5">
                            <span class="d-flex justify-content-end"><p>Posted by <b>{{user.username}}</b> on {{format_date created_at}} at {{format_time created_at}}</p></span>
                        </div>
                    </article>                    
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>
        {{/if}}
        <div class="row">
            <h3 class="yellow-text md-text results-text">Post</h3>
            {{#if loggedIn}}
            <div class="input-group ">
                <label for="post-title" class="xs-text label">Title</label>
                <input type="text" class="form-control" id="post-title">
            </div>
            <label for="description" class="xs-text label results-text">Description</label>
            <div>
                <textarea class="form-control" id="description" cols="2" rows="3"></textarea>
            </div>
            <button class="btn btn-outline-secondary button" type="button" id="post-submit">
                <ion-icon class="icon" name="arrow-round-forward"></ion-icon>
            </button>
            {{else}}
            <div class="sm-text results-text">
                <p><a href="/login" class="text-decoration-none">Login</a> to make a post!</p>
            </div>
            {{/if}}
        </div>
    </div>
</div>
